{% extends "meetups/base/base.html" %}

{% load static %}
    {%block title%}Meetups{%endblock%}
   {%block site_css%}
    <link rel="stylesheet" href="{% static 'meetups/styles/all-meetup.css'%}">
    {%endblock%}
    {%block main_heading%}We got great meetups{%endblock%}
    {%block header_content%}<p>Find the one that best suits you</p>{%endblock%}
    {%block body%}
    <main>
        <section>
            <h2>Upcoming Meetup</h2>
            <ol>
                {%for meetup in meetups%}
                {%include 'meetups/includes/meetup-item.html' with title=meetup.title slug='meetup.slug' location='Accra'  %}
            {%endfor%}
            <ol/>
        </section>
    {%endblock%}